@import "tailwindcss";

:root {
    --accent-color: #0078d4;
}

@layer base {
    * {
        scrollbar-width: none;
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    a,
    button,
    select,
    input,
    textarea {
        &:focus-visible {
            outline: 2px solid var(--accent-color);
            box-shadow: 0 4px 24px 0
                color-mix(in srgb, var(--accent-color) 20%, transparent);
        }
    }

    body {
        color: theme(--color-white);
        background-color: theme(--color-black);
        font-family: system-ui, sans-serif;
    }

    a {
        cursor: default;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

@utility drag {
    -webkit-app-region: drag;
}

@utility no-drag {
    -webkit-app-region: no-drag;
}
