@import "tailwindcss";

:root {
    --accent-color: #0078d4;
}

@layer base {
    * {
        scrollbar-width: none;
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    a,
    button,
    select,
    input,
    textarea {
        @apply ring-(--accent-color) outline-(--accent-color);
    }

    body {
        font-family: system-ui, sans-serif;

        @media (prefers-color-scheme: light) {
            color: theme(--color-black);
            background: linear-gradient(
                to bottom,
                theme(--color-neutral-50),
                theme(--color-neutral-100)
            );
        }

        @media (prefers-color-scheme: dark) {
            color: theme(--color-white);
            background: linear-gradient(
                to bottom,
                theme(--color-neutral-900),
                theme(--color-neutral-950)
            );
        }
    }

    a {
        cursor: default;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

@utility drag {
    -webkit-app-region: drag;
}

@utility no-drag {
    -webkit-app-region: no-drag;
}
