@import "tailwindcss";

:root {
    --color-accent: #0078d4;
    --spacing-titlebar-height: 2rem;

    --color-accent-50: color-mix(in oklab, var(--color-accent) 5%, white);
    --color-accent-100: color-mix(in oklab, var(--color-accent) 10%, white);
    --color-accent-200: color-mix(in oklab, var(--color-accent) 20%, white);
    --color-accent-300: color-mix(in oklab, var(--color-accent) 35%, white);
    --color-accent-400: color-mix(in oklab, var(--color-accent) 55%, white);
    --color-accent-500: var(--color-accent);
    --color-accent-600: color-mix(in oklab, var(--color-accent) 85%, black);
    --color-accent-700: color-mix(in oklab, var(--color-accent) 70%, black);
    --color-accent-800: color-mix(in oklab, var(--color-accent) 55%, black);
    --color-accent-900: color-mix(in oklab, var(--color-accent) 40%, black);
}

@theme {
    --color-accent-50: var(--accent-50);
    --color-accent-100: var(--accent-100);
    --color-accent-200: var(--accent-200);
    --color-accent-300: var(--accent-300);
    --color-accent-400: var(--accent-400);
    --color-accent-500: var(--accent-500);
    --color-accent-600: var(--accent-600);
    --color-accent-700: var(--accent-700);
    --color-accent-800: var(--accent-800);
    --color-accent-900: var(--accent-900);
}

@layer base {
    * {
        scrollbar-width: none;
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &::selection {
            @apply bg-accent-700;
        }
    }

    a,
    button,
    select,
    input,
    textarea {
        &:focus-visible {
            outline: none;
            @apply ring-2 ring-(--color-accent);
        }
    }

    body {
        font-family: system-ui, sans-serif;

        @media (prefers-color-scheme: light) {
            color: theme(--color-black);
            background: linear-gradient(
                to bottom,
                theme(--color-neutral-50),
                theme(--color-neutral-100)
            );
        }

        @media (prefers-color-scheme: dark) {
            color: theme(--color-white);
            background: linear-gradient(
                to bottom,
                theme(--color-neutral-900),
                theme(--color-neutral-950)
            );
        }
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

@utility drag {
    -webkit-app-region: drag;
}

@utility no-drag {
    -webkit-app-region: no-drag;
}

.theme-transition {
    * {
        transition: none !important;
    }
}
