@import "tailwindcss";

:root {
    --accent-color: #0078d4;
}

@layer base {
    * {
        scrollbar-width: none;
        user-select: none;
    }

    *::-webkit-scrollbar {
        display: none;
    }

    body {
        color: theme(--color-white);
        background-color: theme(--color-black);
        font-family: system-ui, sans-serif;
    }

    a {
        cursor: default;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

@utility drag {
    -webkit-app-region: drag;
}

@utility no-drag {
    -webkit-app-region: no-drag;
}
